
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="list-group">
    <a asp-action="GuppyCountBackLineStrategy" class="list-group-item list-group-item-action">
       Guppy Count Back Line  
    </a>

</div>