@{
    ViewData["Title"] = "Home Page";
}




<!--Main layout-->
<main>
    <!--Main container-->
<div class="container">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-7">



        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5">



        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12">



        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6">



        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6">



        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
<!--Main container-->
</main>
<!--Main layout-->

<!--Footer-->
<footer>

</footer>
<!--Footer-->